html,
body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}

body, input, p, select, textarea {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
}

h2 {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: none;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], textarea, select {
  background-color: #ffffff;
  color: #555555;
  border-color: #dce0e0;
}